/* media query template */
/* general styles and mobile */

/* tablet */
@media (min-width: 768px) {
}
/* desktop */
@media (min-width: 1024px) {
}

/* TO DO LIST ITEMS */
.to-do-list-container {
  /* general styles and mobile */
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto;
  row-gap: 20px;
  padding-inline-start: 0;
  /* tablet */
  @media (min-width: 768px) {
    margin: 40px auto;
  }
  /* desktop */
  @media (min-width: 1024px) {
  }
}

.to-do-list-item {
  /* general styles and mobile */
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-flow: column;
  /* tablet */
  @media (min-width: 768px) {
  }
  /* desktop */
  @media (min-width: 1024px) {
  }
}

.to-do-title {
  /* general styles and mobile */
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  /* tablet */
  @media (min-width: 768px) {
  }
  /* desktop */
  @media (min-width: 1024px) {
  }
}

.completed {
  text-decoration: line-through;
}

.to-do-checkbox-container {
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.to-do-button-container {
  display: flex;
  height: 60px;
}

.see-more-container {
}
